:root {
    --highlight-color: #c8ff00;
    --secondary-highlight-color: #6516b5;
    --dim-color: #696969;
    --gray-color: #afb1b3;
    --text-color: #27282c;
    --orange-color: #f76707;
    --font-eighteen: 18px;
    --font-fourteen: 14px;
    --spacer-sixtyfour: 64px;
    --link-color: #19191c;
}

body {
    font-family: 'JetBrains Sans', 'Inter', sans-serif;
}

a {
    color: var(--orange-color);
    text-decoration: none;
}

/*Navigation Bar*/
.navigation-bar {
    border-bottom: solid 1px rgba(39, 40, 44, 0.2);
    max-width: 100%;
    background-color: white;
}

.overview {
    color: var(--orange-color);
}

.buy-now-btn {
    width: 134px;
    height: 32px;
    margin: 0 0 0 10px;
    padding: 4px 19px 4px 18px;
    border-radius: 25px;
    border: solid 1px rgba(39, 40, 44, 0.4);
}

#toolbox {
    color: var(--text-color);
}

/*Main Container*/
.orange-btn {
    padding: 8px 40px 8px 40px;
    border-radius: 25px;
    border: var(--orange-color) solid;
    background-color: var(--orange-color);
    opacity: 1;
    margin-top: 30px;
    color: white;
}


/*Deals Container*/
.right-deals-container {
    line-height: 20pt;
}

.right-deals-container p {
    line-height: 20pt;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 48px;
}

.right-deals-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*Headings*/
h1 {
    font-size: 60px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    color: var(--text-color);
    letter-spacing: -1.5px;
    line-height: 1.07;
    padding-bottom: 25pt;
    margin-top: -10px;
}

h2 {
    font-size: 28px;
    color: var(--text-color);
    font-weight: 500;
}

/*Toolbox App*/
.toolbox-app-container h3 {
    color: white;
    font-size: 18pt;
    font-weight: normal;
}

.toolbox-app-container {
    background-color: var(--text-color);
}

.left-toolbox-container {
    margin-left: 50px;
}

.right-toolbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right-toolbox-container p {
    color: var(--gray-color);
}


/*Sponsors*/
.sponsors-container {
    margin-bottom: 48px;
}

.left-sponsors-container p{
    font-size: 29px;
    font-weight: 320;
    line-height: 39px;
}

.right-sponsors-container {
    display: flex;
    margin-left: 96px;
}

.google-salesforce, .hp-expedia, .samsung-twitter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsor-image {
    margin-bottom: 30px;
}

.right-sponsors-container > div:not(:last-child) {
    margin-right: 130px;

}

.twitter {
    width: 70px;
    height: 70px;
}

/*Faq*/
.left-faq-container, .right-faq-container {
    width: 80%;
}

.faq-container {
    font-family: 'JetBrains Sans', 'Inter', sans-serif;
    line-height: 28px;
    font-weight: 400;
    font-size: 19px;
}

.faq-container h2{
    font-size: 35px;
}

.left-faq-container p:first-child,
.right-faq-container p:first-child {
    font-weight: 530;
    font-size: 19px;
    color: var(--text-color);
}

.left-faq-container p:nth-child(2),
.right-faq-container p:nth-child(2) {
    color: rgba(25, 25, 28, .7);
}

/*Download*/

.download-container {
    padding-bottom: 49px;
}


.left-download-container img {
    max-width: 100%;
    vertical-align: middle;
}


.right-download-container a {
    display: block;
    margin-top: 30px;
    font-size: 16px;
}

.right-download-container a:hover {
    color: var(--orange-color);
    text-decoration: underline var(--orange-color);
}

.right-download-container h2 {
   font-size: 35px;
    line-height: 42px;
    font-weight: 600;
}

/*Socials*/
.socials{
    background-color: #f4f4f4;
}

.socials p{
    line-height: 19px;
    font-size: 29px;
}

.form-control{
    margin-top: 24px;
    border: var(--gray-color) solid 1pt;
    border-radius: 1px;
    padding: 13px;
}

.form-control:hover{
    border: var(--dim-color) solid 1pt;
    border-radius: 1px;
}

.socials a{
    color: var(--link-color);
    text-decoration: underline var(--text-color);
}

.socials a:hover{
    color: var(--link-color);
    text-decoration: underline var(--link-color) 2px;
    font-weight: 450;
}

.right-socials-container a{
    margin-left: 20px;
    line-height: 40px;
}
